/* body {
   min-height: 2000px;
} */

section {
   padding-top: 5rem;
}

.jumbotron {
   /* padding: 2rem 1rem; */
   padding-top: 6rem;
   background-color: #e2edff;
}

#about {
   background-color: #f3f4f5;
}

#projects {
   background-color: #e2edff;
}

#contact {
   background-color: #f3f4f5;
}

#gallery .row>* {
   padding: 0;
}

/* My Planet Session */
.planet-box {
   position: relative;
   background-color: #0D6EFD;
   border-radius: 10px;
   height: 500px;
   transform-style: preserve-3d;
   overflow: visible;
}

.planet-box::before {
   content: 'MY';
   position: absolute;
   color: #fff;
   font-size: 5em;
   font-weight: bold;
   font-style: italic;
   top: 30px;
   left: 50%;
   transform: translate(-50%, 0);
   opacity: 0;
   transition: 0.5s;
}

.planet-box:hover::before {
   opacity: 0.2;
}

.planet-box::after {
   content: 'PLANET';
   position: absolute;
   color: #fff;
   font-size: 4.5em;
   font-weight: bold;
   font-style: italic;
   top: 350px;
   left: 50%;
   transform: translate(-50%, 0);
   opacity: 0;
   transition: 0.5s;
}

.planet-box:hover::after {

   opacity: 0.2;
}

.planet-name {
   position: absolute;
   top: 0;
   width: 100%;
   color: #fff;
   text-align: center;
   font-size: 2em;
   opacity: 0;
   transform: translate3d(0, 0, 50px);
   transition: 0.5s;
}

.planet-box:hover .planet-name {
   top: 10px;
   opacity: 1;
}

.planet-detail-button {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate3d(-50%, 0, 100px);
   opacity: 0;
   transition: 0.5s;
}

.planet-box:hover .planet-detail-button {
   bottom: 10px;
   opacity: 1;
}

.planet-img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 80px);
   max-width: 220px;
   transition: 0.5s;
}

.planet-box:hover .planet-img {
   transform: translate3d(-50%, -50%, 100px) scale(1.2);
}